# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
.pub-cache/
.pub/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store

# Docker
postgres_data/
